#divSearchDetailsTable.row
    .col-lg-12.col-xs-12.col-md-12
        .col-md-12
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th First name
                        th Last name
                        th Address
                        th DOB
                        th Username
                        th Email
                        th Designation
                tbody
                      tr
                        td User A
                        td B
                        td AddressA
                        td 10-10-1989
                        td UserA
                        td user@gmail.com
                        td Manager
                      tr
                        td User B
                        td C
                        td AddressB
                        td 10-10-1989
                        td UserA
                        td user@gmail.com
                        td Manager