.row
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Site code
            input#txtSiteCode.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Site name
            input#txtSiteName.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Generator code
            input#txtGeneratorCode.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Frequency
            input#txtFrequency.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Location
            input#txtLocation.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Generator Tank Capacity
            input#txtGenTankCapacity.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Cluster (Zone)
            select#ddlCluster.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Al Quoz
                option(value='AED') Deira
        .col-md-12.form-group(style='text-align:left;')
            h5 Lattitude
            input#txtLattitude.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Longitude
            input#txtLongitude.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Site Type
            select#ddlSiteType.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') High Traffic
                option(value='AED') Hub Site
        .col-md-5.form-group(style='text-align:left;')
            span#lbl(style='float:left') Upload Files
        .col-md-7.form-group(style='text-align:left;')
            input#File1(type='file', multiple='')
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Site Class
            select#ddlSiteClass.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') FMS
                option(value='AED') Hybrid
                option(value='AED') Normal
        .col-md-12.form-group(style='text-align:left;')
            h5 Maximum Quantity
            input#txtMaxQty.text(type='number')
        .col-md-12.form-group(style='text-align:left;')
            h5 Sector
            select#ddlSector.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Dubai
                option(value='AED') Sharjah
        .col-md-12.form-group(style='text-align:left;')
            h5 Daily Consumption
            input#txtDailyConsumption.text(type='number')
        .col-md-12.form-group(style='text-align:left;')
            h5 Vehicle Type
            input#txtVehicleType.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Access Restriction
            input#txtAccessRestriction.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Active
            input#chkActive(type='checkbox')
            label(for='chkActive') Yes
        .col-md-12.form-group(style='text-align:left;')
            h5 Select Documents 
            select.col-md-12(name='cars', multiple='', style='margin-bottom:5px;')
                option(value='1') PASSPORT PAGE1
                option(value='2') EMIRATES ID
                option(value='3') LICENCE
                option(value='4') NOC
                option(value='5') PERMISSION LETTER
                option(value='6') CEI CERTIFICATE
        .col-md-12.form-group
            h5(style='') Start Date
            input#txtStartDate.text(type='text', style='margin-bottom:5px;')
    .col-md-12.form-group(style='text-align:left;margin-top:15px;')
        input#btnAddWarehouse.btn.btn-primary.btn-flat.btn-block(type='submit', value='Add Warehouse', style='width:150px;')