.row
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Employee Code
            input#txtEmployeeCode.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Name
            input#txtName.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Account  Number
            input#txtAccountNumber.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Short Name
            input#txtShortName.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Join Date
            input#txtJoinDate.text(type='date')
        .col-md-12.form-group(style='text-align:left;')
            h5 Date-Of-Birth
            input#txtDateOfBirth.text(type='date')
        .col-md-12.form-group(style='text-align:left;')
            h5 Nationality
            select#ddlNationality.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') India
                option(value='AED') Pakistan
        .col-md-12.form-group(style='text-align:left;')
            h5 Email 
            input#txtEmail.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Mobile
            input#txtMobile.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Status
            input#chkActive(type='checkbox')
            label(for='chkActive') Active
        .col-md-12.form-group(style='text-align:left;')
            h5 Gender
            select#ddlGender.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Male
                option(value='AED') Female
        .col-md-12.form-group(style='text-align:left;')
            h5 Martial Status
            select#ddlMartialStatus.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Single
                option(value='AED') Married
        .col-md-12.form-group(style='text-align:left;')
            h5 Religion
            select#ddlReligion.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Islam
                option(value='AED') Hindu
        .col-md-12.form-group(style='text-align:left;')
            h5 Qualification
            select#ddlQualification.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') BCom
                option(value='AED') 10th
        .col-md-12.form-group(style='text-align:left;')
            h5 Grade
            select#ddlGrade.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') A
                option(value='AED') B
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Cancel Status
            input#chkActive(type='checkbox')
            label(for='chkActive') Active
        .col-md-12.form-group(style='text-align:left;')
            h5 Cancelled Date
            input#txtCancelledDate.text(type='date', style='width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Cancelled Reason
            textarea#txtCancelledReason.text(rows='5', cols='20', style='margin-bottom:5px;width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Visa Company
            input#txtVisaCompany.text(type='text', style='width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Contract Type
            select#ddlContractType.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Limited
                option(value='AED') Unlimited
        .col-md-12.form-group(style='text-align:left;')
            h5 Contract Expiry Date
            input#txtContractExpiryDate.text(type='date', style='width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Remarks
            textarea#txtRemarks.text(rows='5', cols='20', style='margin-bottom:5px;width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Local Address
            textarea#txtLocalAddress.text(rows='5', cols='20', style='margin-bottom:5px;width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 City
            input#txtCity.text(type='text', style='width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Contact Person
            input#txtContactPerson.text(type='text', style='width:100%;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Contact Telephone
            input#txtContactTelephone.text(type='text', style='width:100%;')
    .col-lg-12.col-xs-12.col-md-12
        h5 Documents
        table#tblDocuments.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
                tr
                    th Doc Type
                    th Doc No
                    th Issue Place
                    th Issue Date
                    th Expiry Date
                    th Remarks
                    th Attach Doc
            tbody
                tr
                    td
                        select#ddlDocType.text(style='width:100%;')
                            option(value='1') PASSPORT PAGE1
                            option(value='2') EMIRATES ID
                            option(value='3') LICENCE
                            option(value='4') NOC
                            option(value='5') PERMISSION LETTER
                            option(value='6') CEI CERTIFICATE
                    td
                        input#txtDocNo.grid-textbox(type='text', style='width:90%;')
                    td
                        input#txtIssuePlace.grid-textbox(type='text', style='width:90%;')
                    td
                        input#txtIssueDate.grid-textbox(type='text', style='width:90%;')
                    td  
                        input#txtExpiryDate.grid-textbox(type='text', style='width:90%;')
                    td
                        input#txtRemarks.grid-textbox(type='text', style='width:90%;')
                    td
                        input#flDoc(type='file', multiple='', style='width:90%;')
        .form-group.col-md-12
            button#btnAddRow.btn.btn-flat(type='submit')
                i.glyphicon.glyphicon-plus
                | Add Row
    .col-md-12.form-group(style='text-align:left;margin-top:15px;')
        input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')