.row
    .col-lg-12.col-xs-12.col-md-12
        .col-md-6.form-group(style='text-align:left;')
            h5 Emirates Name
            input#txtEmiratesName.text(type='text', style='width:250px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Emirates Delivery
            input#txtDelivery.text(type='text', style='margin-bottom:5px;width:250px;')
        .col-md-12.form-group(style='text-align:left;margin-top:15px;')
            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')