.row
    .col-lg-12.col-xs-12.col-md-12
        .col-md-12.form-group(style='text-align:left;')
            h5 Company Name
            input#txtCompany.text(type='text', style='margin-bottom:5px;width:350px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Address
            textarea#txtDescription.text(rows='5', cols='20', style='margin-bottom:5px;width:350px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Type
            select#ddlType.text(style='width:100%;margin-bottom:5px;width:350px;')
                option(value='Supplier') Supplier
        .col-md-12.form-group(style='text-align:left;')
            h5 Contact
            input#txtContact.text(type='text', style='margin-bottom:5px;width:350px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Mobile No
            input#txtMobile.text(type='text', style='margin-bottom:5px;width:350px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Email
            input#txtEmail.text(type='email', style='margin-bottom:5px;width:350px;')
        .col-md-12.form-group(style='text-align:left;margin-top:15px;')
            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')