.row
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Vehicle Number
            input#txtVehicleNumber.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Account Number
            input#txtAccountNumber.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Plate Number
            input#txtPlateNumber.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Chassis Number
            input#txtChassisNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Fleet Number
            input#txtFleetNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Police File Number
            input#txtPoliceFileNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Salik File Number
            input#txtSalikFileNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Salik Tag Number
            input#txtSalikTagNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Engine  Number
            input#txtEngineNo.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Status
            input#chkActive(type='checkbox')
            label(for='chkActive') Active
            input#chkSold(type='checkbox')
            label(for='chkSold') Sold
        .col-md-12.form-group(style='text-align:left;')
            h5 Make
            select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Toyota
                option(value='AED') Hino
                option(value='AED') Normal
        .col-md-12.form-group(style='text-align:left;')
            h5 Model
            select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') 2008
                option(value='AED') 2009
                option(value='AED') 2012
    .col-lg-6.col-xs-12.col-md-6
        .col-md-12.form-group(style='text-align:left;')
            h5 Actual Capacity
            input#txtActualCapacity.text(type='number', style='width:80%;')
            label(for='txtActualCapacity')  Ltr
        .col-md-12.form-group(style='text-align:left;')
            h5 Payload Capacity
            input#txtPayloadCapacity.text(type='number', style='width:80%;')
            label(for='txtPayloadCapacity')  Ltr
        .col-md-12.form-group(style='text-align:left;')
            h5 Gear Type
            select#ddlGearType.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Automatic
                option(value='AED') Manula
        .col-md-12.form-group(style='text-align:left;')
            h5 Fuel Type
            select#ddlFuelType.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Petrol
                option(value='AED') Diesel
        .col-md-12.form-group(style='text-align:left;')
            h5 Engine CC
            input#txtEngineCC.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Mileage
            input#txtMileage.text(type='number', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Owner Company
            select#ddlOwnerCompany.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Company A
        .col-md-12.form-group(style='text-align:left;')
            h5 Compartments
            select#ddlOwnerCompany.text(style='width:100%;margin-bottom:5px;')
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
    .col-lg-12.col-xs-12.col-md-12
        h3 Documents
        table#tblDocuments.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
                tr
                    th Doc Type
                    th Doc No
                    th Issue Place
                    th Issue Date
                    th Expiry Date
                    th Remarks
                    th Attach Doc
            tbody
                tr
                    td
                      select#ddlDocType.text(style='width:100%;')
                        option(value='1') PASSPORT PAGE1
                        option(value='2') EMIRATES ID
                        option(value='3') LICENCE
                        option(value='4') NOC
                        option(value='5') PERMISSION LETTER
                        option(value='6') CEI CERTIFICATE
                    td
                      input#txtDocNo.grid-textbox(type='text', style='width:90%;')
                    td
                      input#txtIssuePlace.grid-textbox(type='text', style='width:90%;')
                    td
                      input#txtIssueDate.grid-textbox(type='text', style='width:90%;')
                    td
                      input#txtExpiryDate.grid-textbox(type='text', style='width:90%;')
                    td
                      input#txtRemarks.grid-textbox(type='text', style='width:90%;')
                    td
                      input#flDoc(type='file', multiple='', style='width:90%;')
        .form-group.col-md-12
            button#btnAddRow.btn.btn-flat(type='submit')
                i.glyphicon.glyphicon-plus
                | Add Row
    .col-md-12.form-group(style='text-align:left;margin-top:15px;')
        input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')