extends menu
block content
    title FS Portal | Warehouse Details
    //body.hold-transition.skin-red-light.sidebar-mini
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                .box-header
                    i.fa.fa-bank
                    h3.box-title Warehouse Details
            // Main content
            section#formview.content
                .row
                    .col-lg-12.col-xs-12.col-md-12
                        include warehouse/whdetailsblock1.pug
                        include warehouse/whdetailsblock2.pug
                        include warehouse/whdetailsblock3.pug
                        include warehouse/whdetailsblock4.pug
                            
            // /.content
            include warehouse/whdetailsgeneralpopup.pug
            include warehouse/whdetailsrackpopup.pug
            include warehouse/whdetailsamenitiespopup.pug
            include warehouse/whdetailsuploadpopup.pug
                
    script(src='/javascripts/jquery.simplePopup.js')
    script(src='/javascripts/warehousedetails.js')
      
