extends /menu
block content
  title FS Portal | Add User
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
          .col-md-3.no-padding
            h4 Add User
          .col-md-6.no-padding(style='text-align:right;')
            .col-md-9.col-sm-6.no-padding
              h5(style='margin-right:10px;') Select WH Partner
            .col-md-3.col-sm-6.no-padding
              select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Toyota
                option(value='AED') Hino
                option(value='AED') Normal
          .col-md-3.no-padding(style='text-align:right;')
            .btn-group(data-toggle='btn-toggle')
              button#btnformview.btn.btn-default.btn-sm.active(type='button')
                i.fa.fa-desktop.text-red
              button#btnlistview.btn.btn-default.btn-sm(type='button')
                i.fa.fa-th-list.text-red
      // Main content
      include user/formblock.pug
      include user/listblock.pug
  // /.content
  script(src='/javascripts/whadduser.js')
    
