extends /menu
block content
    title FS Portal | Manage Enquiry
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Manage Enquiry
            // Main content
            section.content
                .row
                    include whenquiry/enquirydetailsskulist.pug
                    include whenquiry/enquirydetailscharges.pug
    include whenquiry/enquirydetailsquotationpopup.pug        
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/javascripts/whjobdetails.js')
