extends /menu
block content
  html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title FS Portal | User Permission
      // Datatable
      link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
      link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
      // Theme style
      link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    body.hold-transition.skin-red-light.sidebar-mini(style="font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;")
      .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
          // Content Header (Page header)
          section.content-header
            .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
              .col-md-3.no-padding
                h4 User Permission
              .col-md-9.no-padding(style='text-align:right;')
                .col-md-9.col-sm-6.no-padding
                  h5(style='margin-right:10px;') Select WH Partner
                .col-md-3.col-sm-6.no-padding
                  select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                    option(value='INR') Toyota
                    option(value='AED') Hino
                    option(value='AED') Normal
          // Main content
          section.content
            .row
              include user/userpermissionlistblock.pug
            .col-lg-12.col-xs-12.col-md-12
              include user/userpermissionformblock.pug
            .col-md-12.form-group(style='text-align:left;margin-top:15px;')
              input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/javascripts/whuserpermission.js')
    
