.col-lg-12.col-xs-12.col-md-12
    table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
        thead
            tr
                th Enquiry No
                th Total Pallets
                th Expected Days
                th Total CBM
                th WH Status
                th Status
        tbody
            tr
                td E10001
                td 150
                td 30
                td 15000
                td Pending
                td Confirmed
            tr
                td E10002
                td 140
                td 60
                td 10000
                td Cancelled
                td Confirmed
            tr
                td E10003
                td 100
                td 50
                td 25000
                td Expired
                td Pending
            tr
                td E10004
                td 1500
                td 10
                td 50000
                td Expired
                td Pending
            tr
                td E10005
                td 150
                td 30
                td 15000
                td Cancelled
                td Cancelled
            tr
                td E10001
                td 150
                td 30
                td 15000
                td Pending
                td Cancelled