extends menu
block content
    title FS Portal | Change Password
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Change Password
                ol.breadcrumb(style='list-style: none;float:right;')
            // Main content
            section.content
                .row
                    .col-lg-12.col-xs-12.col-md-12
                        .col-md-4.form-group.required(style='text-align:left;')
                            h5 Old Password
                            input#txtWHName.text(type='password', style='')
                    .col-lg-12.col-xs-12.col-md-12
                        .col-md-4.form-group.required(style='text-align:left;')
                            h5 New Password
                            input#txtWHSpace.text(type='password', style='margin-bottom:5px;')
                    .col-lg-12.col-xs-12.col-md-12
                        .col-md-4.form-group.required(style='text-align:left;')
                            h5 Confirm New Password
                            input#txtWHSpace.text(type='password', style='margin-bottom:5px;')
                    .col-lg-12.col-xs-12.col-md-12
                        .col-md-12.form-group(style='text-align:left;margin-top:15px;')
                            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')
    // ./wrapper
    script.
      $(document).ready(function () {
      $("#btnSubmit").click(function (e) {
      $('#Alertpopup').modal('show');
      });
      });
