extends menu
block content
  title FS Portal
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
  link(href='/stylesheets/fullcalendar.min.css', rel='stylesheet')
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Dashboard
    // Main content
    section.content
      // Small boxes (Stat box)
      include dashboard/blocks.pug
      include dashboard/charts.pug
    // /.content
    include dashboard/popup.pug
  // Morris Chart
  script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/fullcalendar.min.js')
  script(src='/javascripts/dashboard.js')