doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // Tell the browser to be responsive to screen width
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        // Bootstrap 3.3.7
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Font Awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
        // Ionicons
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
        // Theme style
        link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
        //
            AdminLTE Skins. Choose a skin from the css/skins
            folder instead of downloading all of them to reduce the load.
        link(href='/stylesheets/skin-red-light.min.css', rel='stylesheet')
        link(href='/stylesheets/Common.css', rel='stylesheet')
        link(href='/stylesheets/jquery-ui-1.8.2.custom.css', rel='stylesheet')
        link(href='/stylesheets/jquery.ui.chatbox.css', rel='stylesheet')
        // Google Font
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
        // jQuery 3.1.1
        script(src='/javascripts/jquery-3.1.1.min.js')
        // jQuery ui
        script(src='/javascripts/jquery-ui.min.js')
        // Bootstrap 3.3.7
        script(src='/javascripts/bootstrap.min.js')
    body.hold-transition.skin-red-light.sidebar-mini(style='height:auto')
        header.main-header
            // Logo
            a.logo(href='/')
                // mini logo for sidebar mini 50x50 pixels
                span.logo-mini
                    b FS
                // logo for regular state and mobile devices
                span.logo-lg
                    b FS 
                        | Portal
            // Header Navbar: style can be found in header.less
            nav.navbar.navbar-static-top
                // Sidebar toggle button
                a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
                    span.sr-only Toggle navigation
                .navbar-custom-menu
                    ul.nav.navbar-nav
                        // Messages: style can be found in dropdown.less
                        li.dropdown.messages-menu
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-envelope-o
                                span.label.label-success 4
                            ul.dropdown-menu
                                li.header You have 4 messages
                                li
                                    // inner menu: contains the actual data
                                    ul.menu
                                        li
                                            // start message
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                                h4
                                                    | FS Support Team
                                                    small
                                                        i.fa.fa-clock-o
                                                            |  5 mins
                                                p Message subject goes here
                                        // end message
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                                h4
                                                    | WH Admin
                                                    small
                                                        i.fa.fa-clock-o
                                                            |  2 hours
                                                p Message subject goes here
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                                h4
                                                    | Sub User
                                                    small
                                                        i.fa.fa-clock-o
                                                            |  Today
                                                p Message subject goes here
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                                h4
                                                    | Sub User
                                                    small
                                                        i.fa.fa-clock-o
                                                            |  Yesterday
                                                p Message subject goes here
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                                h4
                                                    | Sub User
                                                    small
                                                        i.fa.fa-clock-o
                                                            |  2 days
                                                p Message subject goes here
                                li.footer
                                    a(href='#') See All Messages
                        // Notifications: style can be found in dropdown.less
                        li.dropdown.notifications-menu
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-bell-o
                                span.label.label-primary 10
                            ul.dropdown-menu
                                li.header You have 10 notifications
                                li
                                    // inner menu: contains the actual data
                                    ul.menu
                                        li
                                            a(href='#')
                                                i.fa.fa-birthday-cake.text-red
                                                    |  Wishing you a very happy birthday
                                        li
                                            a(href='#')
                                                i.fa.fa-warning.text-yellow
                                                    |  Warehouses approaching expiry date
                                        li
                                            a(href='#')
                                                i.fa.fa-users.text-red
                                                    |  Other custom reminders
                                        li
                                            a(href='#')
                                                i.fa.fa-shopping-cart.text-green
                                                    |  custom reminders
                                        li
                                            a(href='#')
                                                i.fa.fa-user.text-red
                                                    |  custom reminders
                                li.footer
                                    a(href='#') View all
                        // User Account: style can be found in dropdown.less
                        li.dropdown.user.user-menu
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                img.user-image(src='/images/dummy-image.jpg', alt='User Image')
                                span.hidden-xs Admin User
                            ul.dropdown-menu
                                // User image
                                li.user-header
                                    img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                                    p
                                        | Admin User
                                // Menu Body
                                li.user-body
                                    .row
                                        .col-xs-4.text-center
                                            a(href='#') Followers
                                        .col-xs-4.text-center
                                            a(href='#') Sales
                                        .col-xs-4.text-center
                                            a(href='#') Friends
                                    // /.row
                                // Menu Footer
                                li.user-footer
                                    .pull-left
                                        a.btn.btn-default.btn-flat(href='#') Profile
                                    .pull-right
                                        a.btn.btn-default.btn-flat(href='#') Sign out
                        // Control Sidebar Toggle Button
                        li
                            a(href='#', data-toggle='control-sidebar')
                                i.fa.fa-gears
        // Left side column. contains the logo and sidebar
        aside.main-sidebar
            // sidebar: style can be found in sidebar.less
            section.sidebar
                // Sidebar user panel
                .user-panel
                    .pull-left.image
                        img.img-circle(src='/images/dummy-image.jpg', alt='User Image')
                    .pull-left.info
                        p Admin User
                        a(href='#')
                            i.fa.fa-circle.text-success
                                |  Online
                // sidebar menu: : style can be found in sidebar.less
                ul.sidebar-menu(data-widget='tree')
                    li
                        a(href='/')
                            i.fa.fa-dashboard
                            span Dashboard
                    li.treeview
                        a(href='#')
                            i.fa.fa-cube
                            span Masters
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='/emirates')
                                    i.fa.fa-circle-o
                                    |  Emirates
                            li
                                a(href='/area')
                                    i.fa.fa-circle-o
                                    |  Area
                            li
                                a(href='/customersite')
                                    i.fa.fa-circle-o
                                    |  Customer Site
                            li
                                a(href='/vehicle')
                                    i.fa.fa-circle-o
                                    |  Vehicle
                            li
                                a(href='/driver')
                                    i.fa.fa-circle-o
                                    |  Driver
                            li
                                a(href='/nationality')
                                    i.fa.fa-circle-o
                                    |  Nationality
                            li
                                a(href='/grade')
                                    i.fa.fa-circle-o
                                    |  Grade
                            li
                                a(href='/supplier')
                                    i.fa.fa-circle-o
                                    |  Supplier
                            li
                                a(href='/ndreason')
                                    i.fa.fa-circle-o
                                    |  NDReason
                            li
                                a(href='/vehiclemake')
                                    i.fa.fa-circle-o
                                    |  Vehicle Make
                            li
                                a(href='/vehiclemodel')
                                    i.fa.fa-circle-o
                                    |  Vehicle Model
                            li
                                a(href='/religion')
                                    i.fa.fa-circle-o
                                    |  Religion
                            li
                                a(href='/qualification')
                                    i.fa.fa-circle-o
                                    |  Qualification
                            li
                                a(href='/documenttype')
                                    i.fa.fa-circle-o
                                    |  Document Type
                            li
                                a(href='/commodity')
                                    i.fa.fa-circle-o
                                    |  Commodity
                    li.treeview
                        a(href='#')
                            i.fa.fa-bank
                            span WH Partner
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='/whwidget')
                                    i.fa.fa-dropbox
                                    span Widgets
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  WH Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/warehouselist')
                                            i.fa.fa-circle-o
                                            |  Add Warehouse
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Job Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/whmanagejobs')
                                            i.fa.fa-circle-o
                                            |  Manage Enquiries
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  User Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/whadduser')
                                            i.fa.fa-circle-o
                                            |  Add Sub User
                                    li
                                        a(href='/whuserpermission')
                                            i.fa.fa-circle-o
                                            |  User Permissions
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Accounts Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='#')
                                            i.fa.fa-circle-o
                                            |  Invoices
                                    li
                                        a(href='#')
                                            i.fa.fa-circle-o
                                            |  Outstanding
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Reports
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/whinventory')
                                            i.fa.fa-circle-o
                                            |  Inventory
                    li.treeview
                        a(href='#')
                            i.fa.fa-user
                            span Client Management
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='/clientwidget')
                                    i.fa.fa-dropbox
                                    span Widgets
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Job Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/managejobs')
                                            i.fa.fa-circle-o
                                            |  Manage Enquiries
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Operations Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/receipt')
                                            i.fa.fa-circle-o
                                            |  Receipt
                                    li
                                        a(href='/order')
                                            i.fa.fa-circle-o
                                            |  Order
                                    li
                                        a(href='/inventorytransfer')
                                            i.fa.fa-circle-o
                                            |  Inventory Transfer
                                    li
                                        a(href='/inventoryhold')
                                            i.fa.fa-circle-o
                                            |  Inventory Hold
                                    li
                                        a(href='/stockadjustment')
                                            i.fa.fa-circle-o
                                            |  Stock Adjustment
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  User Management
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/addclientuser')
                                            i.fa.fa-circle-o
                                            |  Add Sub User
                                    li
                                        a(href='/clientuserpermission')
                                            i.fa.fa-circle-o
                                            |  User Permissions
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Reports
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='/clientinventory')
                                            i.fa.fa-circle-o
                                            |  Inventory
                    li.treeview
                        a(href='#')
                            i.fa.fa-users
                            span User Management
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='/adduser')
                                    i.fa.fa-circle-o
                                    |  Add Sub User
                            li
                                a(href='/userpermission')
                                    i.fa.fa-circle-o
                                    |  User Permission
                    li.treeview
                        a(href='#')
                            i.fa.fa-file-text-o
                            span Reports
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Stock Summary
                            li
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  ASN Details
                    li.treeview
                        a(href='#')
                            i.fa.fa-user
                            span My Account
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='/myaccount')
                                    i.fa.fa-circle-o
                                    |  Edit Profile
                            li
                                a(href='/changepassword')
                                    i.fa.fa-circle-o
                                    |  Change Password
        // /.sidebar
        block content
        #Alertpopup.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Message
                    #QuotationBody.modal-body
                        h5 Submit successful.
                    .modal-footer
                        button#btnExprotPDF.btn.btn-primary.btn-flat(data-dismiss='modal', type='submit') Ok
        #chat_div
        // ./wrapper
    
    // AdminLTE App
    script(src='/javascripts/adminlte.min.js')
    // Chat
    script(src='/javascripts/jquery.ui.chatbox.js')
    script(type='text/javascript').
      $(document).ready(function () {
      var box = null;
      if (box) {
      box.chatbox("option", "boxManager").toggleBox();
      }
      else {
      box = $("#chat_div").chatbox({
      id: "User1",
      user: { key: "value" },
      title: "Chat with FS executive..",
      messageSent: function (id, user, msg) {
      $("#log").append(id + " said: " + msg + "<br/>");
      $("#chat_div").chatbox("option", "boxManager").addMsg(id, msg);
      }
      });
      }
      $("input[type='button']").click(function (event, ui) {
      });
      $('.ui-icon-closethick').hide();
      $('.ui-icon-minusthick').hide();
      SetMenuActive();
      function SetMenuActive() {
      var url = window.location;
      var element = $('ul.sidebar-menu a').filter(function () {
      var s = this.href.replace('.aspx', "");
      if (s != "") {
      return s == url || url.href.indexOf(s) == 0;
      }
      });
      $(element).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
      }
      });
