extends menu
block content
    title User Portal | My Account
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | My Account
                ol.breadcrumb(style='list-style: none;float:right;')
            // Main content
            section.content
                .row
                    form(method='post', action='myaccount/add')
                        .col-lg-12.col-xs-12.col-md-12
                            .col-md-12
                                .col-md-4.form-group.required(style='text-align:left;')
                                    h5 First name
                                    input#txtFirstName.text(type='text', name='txtFirstName')
                                .col-md-4.form-group(style='text-align:left;')
                                    h5 Last name
                                    input#txtWHName.text(type='text', name='txtLastName')
                            .col-md-12
                                .col-md-4.form-group.required(style='text-align:left;')
                                    h5 DOB
                                    input#txtDOB.text(type='date', name='txtDOB')
                                .col-md-4.form-group.required(style='text-align:left;')
                                    h5 User name
                                    input#txtUserName.text(type='text', name='txtUserName')
                            .col-md-12
                                .col-md-4.form-group(style='text-align:left;')
                                    h5 Address
                                    textarea#txtAddress.text(rows='5', cols='20', name='txtAddress')
                                .col-md-4.form-group(style='text-align:left;')
                                    h5 Email
                                    input#txtEmail.text(type='email', name='txtEmail')
                            .col-md-12
                                .col-md-4.form-group(style='text-align:left;')
                                    h5 Other Skills
                                    input#txtWHName.text(type='text', name='txtOtherSkills')
                                .col-md-4.form-group(style='text-align:left;')
                            .col-md-12.form-group(style='text-align:left;margin-top:15px;')
                                .col-md-4.form-group(style='text-align:left;')
                                    input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')
                // /.content
            // ./wrapper
    script.
      $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            $('#Alertpopup').modal('show');      
        });
      });
