extends menu
block content
    title FS Portal | User Permission
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    style.
        .highlight {
            background-color: #eaf3fb !important;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | User Permission
            // Main content
            section.content
                .row
                    include user/userpermissionlistblock.pug
                .col-lg-12.col-xs-12.col-md-12
                    include user/userpermissionformblock.pug
                .col-md-12.form-group(style='text-align:left;margin-top:15px;')
                    input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')
    // ./wrapper
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/javascripts/userpermission.js')
