.row(style='margin-top:15px;')
    .col-md-12.no-padding(style='text-align:right;')
        a#btnExportReceiptDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
        a#btnExportReceiptDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
    .col-md-12
        .form-group
            table#tblOrderDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th
                            input#chkHeader(type='checkbox')
                            label(for='chkHeader') SelectAll
                        th SKU
                        th Description
                        th Batch
                        th Expriy Date
                        th Manufacturing Date
                        th Total Order Qty
                        th Total Qty Allocated
                tbody
        .form-group.col-md-12.no-padding
            .col-md-6.no-padding
                button#btnAddSKU.btn.btn-flat(type='submit')
                    i.fa.fa-plus
                        | Add SKU
            .col-md-6(style='text-align:right;')
                .col-md-5
                    label(style='margin-top:10px;') Upload .CSV file..
                .col-md-7
                    input#flExcel.text(type='file', multiple='', accept='.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel', style='')
        .col-md-12.no-padding(style='margin-top:20px;')
            input#btnSubmitOrder.btn.btn-primary.btn-flat.btn-block(type='button', value='Submit', style='width:200px;float:left')