#SKUpopup.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                .col-md-6.no-padding
                    h4.modal-title Select SKU (from current stock)
                .col-md-6.no-padding(style='text-align:right;')
                    a#btnExportSKUDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
                    a#btnExportSKUDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
            #QuotationBody(style='height:auto;')
                .col-md-12
                    .form-group
                        table#tblSKUDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th
                                        input#Checkboxheader(type='checkbox')
                                        label(for='Checkboxheader') Select All
                                    th SKU
                                    th Description
                                    th Batch
                                    th ASN No
                                    th LOC
                                    th LPN
                                    th Manufacture Date
                                    th Expiry Date
                                    th Stock
                            tbody
                                tr
                                    td
                                        input#Checkbox1(type='checkbox')
                                        label(for='Checkbox1') Select
                                    td Pepsi
                                    td Deteails
                                    td 1001
                                    td 5555582
                                    td Location
                                    td LPN
                                    td 2016-12-02
                                    td 2017-12-02
                                    td 250
                                tr
                                    td
                                        input#Checkbox2(type='checkbox')
                                        label(for='Checkbox2') Select
                                    td Cocacola
                                    td Deteails
                                    td 1001
                                    td 5555582
                                    td Location
                                    td LPN
                                    td 2016-12-02
                                    td 2017-12-02
                                    td 300
                    .form-group.col-md-12
                        .col-md-6(style='text-align:right;')
                            .col-md-6
            .modal-footer
                button#btnSKUSubmit.btn.btn-primary.btn-flat(data-dismiss='modal', type='submit') Submit