.col-lg-12.col-xs-12.col-md-12
    h3 Charges applicable:
table#tblCharges.table.table-striped.table-bordered(cellspacing='0', width='100%')
    thead
        tr
            th Charge
            th Narration
            th Unit Price
            th Rate
    tbody
        tr
            td
                input#txtCharge.grid-textbox(type='text')
            td
                input#txtNarration.grid-textbox(type='text')
            td
                input#txtUnitPrice.grid-textbox(type='text')
            td
                input#txtRate.grid-textbox(type='text')
.form-group.col-md-12
    button#btnAddRow.btn.btn-flat(type='submit')
        i.glyphicon.glyphicon-plus
        | Add Row
.col-md-3.form-group(style='text-align:left;')
    h5 Action
    select#ddlFeeCurrency.text(style='width:250px;margin-bottom:5px;')
        option(value='INR') Confirm
        option(value='AED') Refuse
        option(value='AED') Not Available
.col-md-3.form-group(style='text-align:left;')
    h5 Reason
    input#txtWHName.text(type='text', style='width:250px;')
.col-md-3.form-group(style='text-align:left;display:none;')
    input#btnQuotation.btn.btn-block(type='button', value='View Quotation', style='margin-top:35px;width:250px')
.col-md-12.form-group(style='text-align:left;margin-top:15px;')
    input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')