section.content
    .row
        .col-lg-12.col-xs-12.col-md-12
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Name
                        th Address
                        th Space
                        th Contact User
                        th Currency
                        th Rack Cost
                tbody
                    tr
                        td Warehouse 1
                        td Address
                        td 12000 CBM
                        td User 1
                        td AED
                        td 100
                    tr
                        td Warehouse 2
                        td Address
                        td 10000 CBM
                        td User 2
                        td Dollar
                        td 10
                    tr
                        td Warehouse 3
                        td Address
                        td 1200 CBM
                        td User 3
                        td INR
                        td 1500
                    tr
                        td Warehouse 4
                        td Address
                        td 1000 CBM
                        td User 4
                        td AED
                        td 150
                    tr
                        td Warehouse 5
                        td Address
                        td 2000 CBM
                        td User 5
                        td INR
                        td 3000
                    tr
                        td Warehouse 6
                        td Address
                        td 12000 CBM
                        td User 6
                        td AED
                        td 100
// /.content