#AddWarehousePop.simplePopup.col-lg-6.col-sm-6.col-md-6.col-xs-11
    .col-md-6
        h3 Add Warehouse
    #divStep1.col-md-12
        .col-md-12.form-group.required(style='text-align:left;')
            h5 Warehouse name
            input#txtWHName.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Address
            textarea#txtWHAddress.text(rows='5', cols='20')
        .col-md-12.form-group.required(style='text-align:left;')
            h5 Warehouse Space
            input#txtWHSpace.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            span#lbl(style='float:left') Estimate total warehouse space excluding any office area.
        .col-md-12.form-group(style='text-align:left;')
            h4(style='margin-bottom:5px;') Contact
        .col-md-12.form-group.required(style='text-align:left;')
            h5(style='clear: left;') Contact User
            input#txtPhone.text(type='text', style='margin-bottom:5px;')
        div
            .col-md-6.form-group(style='text-align:left;')
                h5 Phone
                input#txtEndAt.text(type='tel')
            .col-md-6.form-group(style='text-align:left;')
                h5 Email
                input#txtEmail.text(type='email', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$')
                span#lblAlertMail(style='color:red;display:none;') * Invalid email address.
    #divStep2.col-md-12(style='display:none;min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h4(style='margin-bottom:0px;') Racked Storage
        .form-group
            .col-md-10.form-group(style='text-align:left;clear:left')
                h5(style='') Do you have racked storage space available?
            .col-md-2.form-group(style='text-align:left;margin-top:10px;')
                input#Checkbox1(type='checkbox')
                label(for='Checkbox1') Yes
            .col-md-12.form-group(style='text-align:left;')
                h5 Racking
                input#txtRacking.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group(style='text-align:left;')
                h5 Racking Position
                input#txtRackingPosition.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group(style='text-align:left;')
                h5 Max Height
                input#txtMaxHeight.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group(style='text-align:left;')
                h5 Max rack weight
                input#txtMaxWeight.text(type='text', style='margin-bottom:5px;')
    #divStep3.col-md-12(style='display:none;min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h4(style='float:left;margin-bottom:25px;') Pricing Currency
            h5(style='clear: left;') Fee Currency
            select#ddlFeeCurrency.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Indian Rupee
                option(value='AED') UAE Dirhams
        .col-md-12.form-group(style='text-align:left;')
            span#lbl(style='float:left') * All prices below will use this currency
        .col-md-12.form-group(style='text-align:left;')
            h5 Setting a price
            span(style='float:left')
                | For new warehouse listings, its important to set a competitive price. Once you get
                | your service rating established, you can raise your price depending on market
                | demands.
        .col-md-12.form-group(style='text-align:left;')
            h5 Rack Cost
            input#txtRackCost.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5(style='clear: left;') Handling Fee
            input#txtHandlingFee.text(type='text', style='margin-bottom:5px;')
    #divStep4.col-md-12(style='display:none;min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h4(style='float:left;margin-bottom:8px;') Shipping and Receiving Instructions
        div
            .col-md-6.form-group.required(style='text-align:left;')
                h5 Receiving start at
                input#txtStartAt.text(type='text')
            .col-md-6.form-group.required(style='text-align:left;')
                h5 Receiving end at
                input#txtEndAt.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Additional notes
                textarea#txtAdditionalNotes.text(rows='5', cols='20')
    #divStep5.col-md-12(style='display:none;min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h4 Extra Amenities
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkdbox1q(type='checkbox')
                label(for='Checkbox1') Ambient
            .col-md-12.col-xs-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Integrated with FS
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Sprinklered
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkdbox1q(type='checkbox')
                label(for='Checkbox1') Professional Staff & Equipment
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Security System
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Dock High Doors
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Food Grade
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Organic
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Frozen
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') AIB Certified
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Bonded
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') HAZMAT
        .col-md-12
            h4 Add custom amenities:
            table#tblCustoAmmendmends.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Name
                        th Narration
                tbody
                    tr
                        td
                            input#txtExtraAmmendmentName.grid-textbox(type='text')
                        td
                            input#txtExtraAmmendmentNarration.grid-textbox(type='text')
            .form-group.col-md-12
                button#btnAddAmmendmentsRow.btn.btn-flat(type='submit')
                    i.glyphicon.glyphicon-plus
                        | Add Row
    #divStep6.col-md-12(style='display:none;min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h4
                | Uploads
                small  (You can upload multiple files if available.)
        .col-md-12.form-group(style='text-align:left;')
            h5 Add Photos
            input#File1.text(type='file', multiple='', accept='image/*')
        .col-md-12.form-group(style='text-align:left;')
            h5 Attach custom files
            table#tblCustomFiles.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th File Name / No
                        th Expiry Date
                        th File
                tbody
                    tr
                        td Trade License
                        td
                            input#txtCustomFileExpiryDate1.grid-textbox(type='date', style='width:100%;')
                        td
                            input#flCustomeFile1(type='file', multiple='', accept='application/msword,text/plain, application/pdf/*', width='70%')
                    tr
                        td Establishment Card
                        td
                            input#txtCustomFileExpiryDate1.grid-textbox(type='date', style='width:100%;')
                        td
                            input#flCustomeFile1(type='file', multiple='', accept='application/msword,text/plain, application/pdf/*', width='70%')
                    tr
                        td
                            input#txtCustomFileName.grid-textbox(type='text', style='width:100%;')
                        td
                            input#txtCustomFileExpiryDate.grid-textbox(type='date', style='width:100%;')
                        td
                            input#flCustomeFile(type='file', multiple='', accept='application/msword,text/plain, application/pdf/*', width='70%')
            .form-group.col-md-12
                button#btnAddFilesRow.btn.btn-flat(type='submit')
                    i.glyphicon.glyphicon-plus
                        | Add Row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='bottom:0px;')
        .col-md-6.col-lg-6.col-sn-6.col-xs-6.form-group(style='text-align:right;margin-top:15px;')
            input#btnPrevStep.btn.btn-primary.btn-flat.btn-block(type='button', value='Previous', style='width:150px;float:right')
        .col-md-6.col-lg-6.col-sn-6.col-xs-6.form-group(style='text-align:left;margin-top:15px;')
            input#btnNextStep.btn.btn-primary.btn-flat.btn-block(type='button', value='Next', style='width:150px;float:left')