#UploadDetailsPop.simplePopup.col-lg-6.col-sm-6.col-md-6.col-xs-11
    #divStep6.col-md-12(style='')
        .col-md-12.form-group(style='text-align:left;')
            h4
                | Uploads
                small  (You can upload multiple files if available.)
        .col-md-12.form-group(style='text-align:left;')
            h5 Add Photos
            input#File1.text(type='file', multiple='', accept='image/*')
        .col-md-12.form-group(style='text-align:left;')
            h5 Attach custom files
            table#tblCustomFiles.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th File Name / No
                        th Expiry Date
                        th File
                tbody
                    tr
                        td
                            input#txtCustomFileName.grid-textbox(type='text', style='width:100%;')
                        td
                            input#txtCustomFileExpiryDate.grid-textbox(type='date', style='width:100%;')
                        td
                            input#flCustomeFile(type='file', multiple='', accept='application/msword,text/plain, application/pdf/*', width='70%')
            .form-group.col-md-12
                button#btnAddFilesRow.btn.btn-flat(type='submit')
                    i.glyphicon.glyphicon-plus
                    | Add Row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='bottom:0px;')
        .col-md-12.col-lg-12.col-sm-12.col-xs-12.form-group(style='text-align:right;margin-top:15px;')
            input#btnUpdateUploadDetails.btn.btn-primary.btn-flat.btn-block(type='button', value='Update', style='width:150px;float:right')