#AmenitiesDetailsPop.simplePopup.col-lg-6.col-sm-6.col-md-6.col-xs-11
    #divStep5.col-md-12(style='')
        .col-md-12.form-group(style='text-align:left;')
            h4 Extra Amenities
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkdbox1q(type='checkbox')
                label(for='Checkbox1') Ambient
            .col-md-12.col-xs-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Integrated with FS
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Sprinklered
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkdbox1q(type='checkbox')
                label(for='Checkbox1') Professional Staff & Equipment
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Security System
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Dock High Doors
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Food Grade
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Organic
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Frozen
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') AIB Certified
        .col-md-6
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Bonded
            .col-md-12(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') HAZMAT
        .col-md-12
            h4 Add custom amenities:
            table#tblCustoAmmendmends.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Name
                        th Narration
                tbody
                    tr
                        td
                            input#txtExtraAmmendmentName.grid-textbox(type='text')
                        td
                            input#txtExtraAmmendmentNarration.grid-textbox(type='text')
            .form-group.col-md-12
                button#btnAddAmmendmentsRow.btn.btn-flat(type='submit')
                    i.glyphicon.glyphicon-plus
                    | Add Row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='bottom:0px;')
        .col-md-12.col-lg-12.col-sm-12.col-xs-12.form-group(style='text-align:right;margin-top:15px;')
            input#btnUpdateAmenitiesDetails.btn.btn-primary.btn-flat.btn-block(type='button', value='Update', style='width:150px;float:right')