#GeneralDetailsPop.simplePopup.col-lg-6.col-sm-6.col-md-6.col-xs-11
    #divStep1.col-md-12
        .col-md-12.form-group.required(style='text-align:left;')
            h5 Warehouse name
            input#txtWHName.text(type='text')
        .col-md-12.form-group(style='text-align:left;')
            h5 Address
            textarea#txtWHAddress.text(rows='5', cols='20')
        .col-md-12.form-group.required(style='text-align:left;')
            h5 Warehouse Space
            input#txtWHSpace.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            span#lbl(style='float:left') Estimate total warehouse space excluding any office area.
        .col-md-12.form-group(style='text-align:left;')
            h4(style='margin-bottom:5px;') Contact
        .col-md-12.form-group.required(style='text-align:left;')
            h5(style='clear: left;') Contact User
            input#txtPhone.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group.required(style='text-align:left;')
            h5 Email
            input#txtEmail.text(type='email', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$')
            span#lblAlertMail(style='color:red;display:none;') * Invalid email address.
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='bottom:0px;')
        .col-md-12.col-lg-12.col-sm-12.col-xs-12.form-group(style='text-align:right;margin-top:15px;')
            input#btnUpdateGeneralDetails.btn.btn-primary.btn-flat.btn-block(type='button', value='Update', style='width:150px;float:right')