.row.col-lg-12.uploaddetails(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;')
    .col-md-12.form-group(style='')
        .col-lg-6.col-md-6
            h4 Uploads
        .col-lg-6.col-md-6(style='text-align:right;')
            button#btnEditUploadDetails.btn.btn-default.btn-sm.active(type='button', style='margin-top:5px;')
                i.fa.fa-pencil.text-red
        .col-lg-12.col-xs-12.col-md-8(style='margin-top:10px;')
            .col-lg-12.col-xs-12.col-md-6(style='')
                table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th File Name/No
                            th Expiry Date
                            th View
                            th Download
                    tbody
                        tr
                            td AV1000001
                            td 10-10-2019
                            td
                                a(href='#')
                                    i.fa.fa-desktop
                            td
                                a(href='#')
                                    i.fa.fa-download
                        tr
                            td
                                | AV1000002
                            td 10-10-2019
                            td
                                a(href='#')
                                    i.fa.fa-desktop
                            td
                                a(href='#')
                                    i.fa.fa-download