.col-md-12.no-padding(style='text-align:right;')
    a#btnExportReceiptDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
    a#btnExportReceiptDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
.col-md-12
    .form-group
        table#tblAdjustmentDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
                tr
                    th
                        input#chkHeaderMain(type='checkbox')
                        label(for='chkHeader') SelectAll
                    th SKU
                    th Description
                    th Batch
                    th Manufacture Date
                    th Expriy Date
                    th Current Stock
                    th Adjust Qty
                    th Target Qty
            tbody
    .form-group.col-md-12
        .col-md-6
            .col-md-6
.col-md-12
    .col-md-6.nopadding
        button#btnAddSKU.btn.btn-flat(type='submit')
            i.fa.fa-plus
            | Add SKU
    .col-md-6.nopadding(style='text-align:right;')
        button#btnSubmit.btn.btn-flat.btn-primary(type='submit') Submit