#popup.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                .col-md-6.no-padding
                    h4.modal-title Select SKU (from current stock)
                .col-md-6.no-padding(style='text-align:right;')
                    a#btnExportSKUDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
                    a#btnExportSKUDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
            #QuotationBody(style='height:auto;')
                .col-md-12.skudetails
                    .form-group
                        table#tblSKUDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th
                                        input#chkHeader(type='checkbox')
                                        label(for='Checkbox1') Select All
                                    th SKU
                                    th Description
                                    th Batch
                                    th Manufacture Date
                                    th Expiry Date
                                    th Stock
                            tbody
                                tr
                                    td
                                        input#Checkbox1(type='checkbox')
                                        label(for='Checkbox1') Select
                                    td Pepsi
                                    td Deteails
                                    td 10001
                                    td 2010-10-10
                                    td 2016-12-12
                                    td 550
                                tr
                                    td
                                        input#Checkbox2(type='checkbox')
                                        label(for='Checkbox2') Select
                                    td Cocacola
                                    td Deteails
                                    td 10002
                                    td 2016-10-10
                                    td 2016-12-12
                                    td 700
                    .form-group.col-md-12
                        input#btnSubmitpop.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:100px;float:right;')
            .modal-footer