extends /menu
block content
  title FS Portal | Area
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        .box-header
          i.fa.fa-user
          h3.box-title Area
          .box-tools.pull-right(data-toggle='tooltip', title='Status')
            .btn-group(data-toggle='btn-toggle')
              button#btnformview.btn.btn-default.btn-sm.active(type='button')
                i.fa.fa-desktop.text-red
              button#btnlistview.btn.btn-default.btn-sm(type='button')
                i.fa.fa-th-list.text-red
      // Main content
      section#formview.content
        include blocks/areaformblock.pug
      section#listview.content
        include blocks/arealistblock.pug
  script(src='/javascripts/area.js')
      
