extends /menu
block content
  title FS Portal | Driver
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .box-header
        h2.box-title Driver
        .box-tools.pull-right(data-toggle='tooltip', title='Status')
          .btn-group(data-toggle='btn-toggle')
            button#btnformview.btn.btn-default.btn-sm.active(type='button')
              i.fa.fa-desktop.text-red
            button#btnlistview.btn.btn-default.btn-sm(type='button')
              i.fa.fa-th-list.text-red
    // Main content
    section#formview.content
      include blocks/driverformblock.pug
    section#listview.content
      include blocks/driverlistblock.pug
        
  script(src='/javascripts/driver.js')
        
