extends /menu
block content
  title FS Portal | Emirates
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .box-header
        h2.box-title Emirates
        .box-tools.pull-right(data-toggle='tooltip', title='Status')
          .btn-group(data-toggle='btn-toggle')
            button#btnformview.btn.btn-default.btn-sm.active(type='button')
              i.fa.fa-desktop.text-red
            button#btnlistview.btn.btn-default.btn-sm(type='button')
              i.fa.fa-th-list.text-red
    section#formview.content
      include blocks/emiratesformblock.pug
    section#listview.content
      include blocks/emirateslistblock.pug
  script(src='/javascripts/emirates.js')
      
