extends /menu
block content
  title FS Portal | Vehicle Model
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .box-header
        h2.box-title Vehicle Model
        .box-tools.pull-right(data-toggle='tooltip', title='Status')
          .btn-group(data-toggle='btn-toggle')
            button#btnformview.btn.btn-default.btn-sm.active(type='button')
              i.fa.fa-desktop.text-red
            button#btnlistview.btn.btn-default.btn-sm(type='button')
              i.fa.fa-th-list.text-red
    // Main content
    section#formview.content
      .row
        .col-lg-12.col-xs-12.col-md-12
          .col-md-12.form-group(style='text-align:left;')
            h5 Name
            input#txtName.text(type='text', style='margin-bottom:5px;width:350px;')
          .col-md-6.form-group(style='text-align:left;')
            h5 Description
            textarea#txtDescription.text(rows='5', cols='20', style='margin-bottom:5px;width:350px;')
          .col-md-12.form-group(style='text-align:left;margin-top:15px;')
            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')
    section#listview.content
      #divSearchDetailsTable.row
        .col-lg-12.col-xs-12.col-md-12
          .col-md-12
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
              thead
                tr
                  th Name
                  th Description
              tbody
                tr
                  td Name A
                  td Description A
                tr
                  td Name B
                  td Description B
  script(src='/javascripts/vehiclemodel.js')
      