.col-md-12(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Date
            .col-md-6
                input#txtDate.date.text(type='date')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Reason
            .col-md-6
                input#txtReason.text(type='text')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Details
            .col-md-6
                textarea#txtDetails.text(rows='5', cols='20')