.col-md-12.no-padding(style='text-align:right;')
    a#btnExportReceiptDetails.export.btn.btn-flat.btn-default(href='#') Export to Excel
    a#btnExportReceiptDetailstoPDF.export.btn.btn-flat.btn-default(href='#') Export to PDF
.col-md-12
    .form-group
        table#tblOrderDetails.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
                tr
                    th
                        input#chkHeader(type='checkbox')
                        label(for='chkHeader') SelectAll
                    th SKU
                    th Batch
                    th Expiry Date
                    th Manufacturing Date
                    th Quantity
            tbody
    .form-group.col-md-12
        .col-md-6(style='text-align:right;')
            .col-md-6