.col-md-12(style='margin-top:15px;')
    .col-md-6.no-padding
        .form-group.col-md-12
            .col-md-4.form-group
                label SKU
                .input-group
                    input#txtFromSKU.text(type='text')
                    span.input-group-btn
                        button#btnLoadSKU.btn.btn-flat(type='button')
                            i.fa.fa-search
            .col-md-4.form-group
                label Batch
                .input-group
                    input#txtFromBatch.text(type='text')
                    span.input-group-btn
                        button#btnloadbatch.btn.btn-flat(type='button')
                            i.fa.fa-search
            .col-md-4.form-group
                label Quantity
                .input-group
                    input#txtFromQty.text(type='text')
                    span.input-group-btn
                        button#btnloadQty.btn.btn-flat(type='button')
                            i.fa.fa-search
    .col-md-6.no-padding
        .form-group.col-md-12
            .col-md-6.form-group
                label Expiry Date
                .input-group
                    input#txtFromExpiryDate.text(type='date')
                    span.input-group-btn
                        button#btnloadexpiry.btn.btn-flat(type='button')
                            i.fa.fa-search
            .col-md-6.form-group
                label Manufacturing Date
                .input-group
                    input#txtFromManuDate.text(type='date')
                    span.input-group-btn
                        button#btnloadmanufacturing.btn.btn-flat(type='button')
                            i.fa.fa-search
.form-group.col-md-12
    .col-md-6.form-group
        .form-group.col-md-12(style='margin-top:10PX;')
            button#btnAddDetails.btn.btn-flat.btn-sm(type='submit')
                i.fa.fa-plus
                | Add Details