section#listview.content
    #divSearchDetailsTable.row
        .col-lg-12.col-xs-12.col-md-12
            .col-md-12
                table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th Consignee Key
                            th Storer Code
                            th Consignee Name
                            th Address
                            th City
                            th ZIP
                            th Country 
                            th Contact Name 
                            th Title  
                            th Phone  
                            th Fax 
                            th Email  
                    tbody
                        tr
                            td Consignee A
                            td Storer 
                            td Consignee Name
                            td Address
                            td City
                            td 6464645
                            td India
                            td Jameme
                            td abc
                            td 977842451
                            td 975413244
                            td asdad@gmail.com