section#formview.content
    .row
        .col-lg-6.col-xs-12.col-md-6
            .col-md-12.form-group(style='text-align:left;')
                h5 Consignee Key
                input#txtconsigneeKey.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Storer Code
                textarea#txtStorerCode.text(rows='5', cols='20')
            .col-md-12.form-group(style='text-align:left;')
                h5 Consignee Name
                input#txtconsigneeName.text(type='text', style='margin-bottom:5px;')
            .col-md-12.form-group(style='text-align:left;')
                h5 Address
                textarea#txtAdress.text
            .col-md-12.form-group(style='text-align:left;')
                h5(style='clear: left;') City
                input#txtSTDCube.text(type='text', style='margin-bottom:5px;', min='0')
            .col-md-12.form-group(style='text-align:left;')
                h5 ZIP
                input#txtZIP.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Country
                input#txtCountry.text(type='text')
        .col-lg-6.col-xs-12.col-md-6
            .col-md-12.form-group(style='text-align:left;')
                h5 Contact Name
                input#txtEmail.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Title
                input#txtCountry.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Phone
                input#txtCountry.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Fax
                input#txtCountry.text(type='text')
            .col-md-12.form-group(style='text-align:left;')
                h5 Email
                input#txtCountry.text(type='text')
        .col-md-12.form-group(style='text-align:left;margin-top:15px;')
            input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')