.col-md-12(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Receipt No
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Customer Name
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Address
            .col-md-6
                textarea#TextArea1.text(rows='5', cols='20')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') PO
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') BOE
            .col-md-6
                input#txtBOE.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Total Qty
            .col-md-6
                input#Text1.text(type='text')
    .col-md-6
        .form-group.col-md-12
            .col-md-5
                label(for='inputUsername') Date
            .col-md-6
                input#Text1.text(type='date')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') External Receipt Key
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') External Ref
            .col-md-6
                input#Text1.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Carrier Ref
            .col-md-6
                input#txtCarrierRef.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Carrier Name
            .col-md-6
                input#txtCarrierName.text(type='text')
        .form-group.col-md-12
            .col-md-5
                label(for='inputPassword') Storer Code
            .col-md-6
                input#txtStorerCode.text(type='text')