.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 3/Month
    div(style='display:inline-block;float:right;')
        input#Checkbox1(type='checkbox')
        label(for='Checkbox1') Select
        
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right.col-md-12.col-lg-12
            li.pull-left.header
                i.fa.fa-inbox
                |  Warehouse
        #warehousewidget.tab-content.no-padding.col-md-12.col-lg-12
            // Morris chart - Sales
            #Warehouse-chart.chart.tab-pane.active.col-md-12.col-lg-12(style='position: relative; height: 300px;')
            
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 5/Month
    div(style='display:inline-block;float:right;')
        input#Checkbox1(type='checkbox')
        label(for='Checkbox1') Select
        
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Stock Summary
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-sumary-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
            
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 5/Month
    div(style='display:inline-block;float:right;')
        input#Checkbox1(type='checkbox')
        label(for='Checkbox1') Select
        
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Stock Movement
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-movement-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
            
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 10/Month
    div(style='display:inline-block;float:right;')
        input#Checkbox1(type='checkbox')
        label(for='Checkbox1') Select
        
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Warehouse Occupance
        .tab-content.no-padding
            // Morris chart - Sales
            #Warehouse-occupancy-chart.chart.tab-pane.active(style='position: relative; height:300px;')
            
.col-md-4.col-sm-6.col-xs-12(style='margin-left:15px;margin-bottom:15px;')
    button#btnSubmit.btn.btn-primary.btn-flat(type='submit') Submit