section#formview.content
    .row
        .col-lg-12.col-xs-12.col-md-12
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From SKU
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To SKU
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From Storer
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To Storer
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From Batch
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To Batch
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From LPN
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To LPN
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From LOC
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To LOC
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From ID
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To ID
                    input#txtWHName.text(type='text')
            .col-lg-12.col-xs-12.col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 From Quantity
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 To Quantity
                    input#txtWHName.text(type='text')
            .col-md-12.form-group(style='text-align:left;margin-top:15px;')
                .col-md-6.form-group(style='text-align:center;')
                    input#btnSearch.btn.btn-primary.btn-flat.btn-block(type='submit', value='Search', style='width:150px;')