extends /menu
block content
  html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title FS Portal | Add User
    body.hold-transition.skin-red-light.sidebar-mini
      .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
          // Content Header (Page header)
          section.content-header
            .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
              .col-md-3.no-padding
                h4 Add User
              .col-md-9.no-padding(style='text-align:right;')
                .col-md-9.col-sm-6.no-padding
                  h5(style='margin-right:10px;') Select Client
                .col-md-3.col-sm-6.no-padding
                  select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                    option(value='INR') Toyota
                    option(value='AED') Hino
                    option(value='AED') Normal
          // Main content
          include user/formblock.pug
          include user/listblock.pug
  // /.content
  script(src='/javascripts/enduseradduser.js')