extends /menu
block content
  html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title FS Portal | Widgets
    body.hold-transition.skin-red-light.sidebar-mini(style='height:auto')
      .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
          // Content Header (Page header)
          section.content-header
            .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
              .col-md-3.no-padding
                h4 Widgets
              .col-md-9.no-padding(style='text-align:right;')
                .col-md-9.col-sm-6.no-padding
                  h5(style='margin-right:10px;') Select WH Partner
                .col-md-3.col-sm-6.no-padding
                  select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                    option(value='INR') Toyota
                    option(value='AED') Hino
                    option(value='AED') Normal
          // Main content
          section.content
            include widget/blocks.pug
          //charts
          include widget/charts.pug
    // Morris Chart
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
    script(src='/javascripts/enduserwidgets.js')
      
