extends /menu
block content
  title FS Portal | Inventory Hold
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        h1
          | Inventory Hold
      // Main content
      section.content
        .row
          include inventoryhold/invholdheaderblock.pug
        .row(style='margin-top:15px;-webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222;box-shadow: 0 4px 6px -6px #222;')
          include inventoryhold/invholdskublock.pug
        .row(style='margin-top:15px;')
          include inventoryhold/invholdlistblock.pug
        .col-md-12
          button#btnSubmit.btn.btn-primary.btn-flat(type='submit') Submit  
  // ./wrapper
  include inventoryhold/invholdpopup.pug
  // Datatable
  script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js')
  script(src='/javascripts/tableExport.js')
  script(src='/javascripts/jquery.base64.js')
  script(src='/javascripts/sprintf.js')
  script(src='/javascripts/jspdf.js')
  script(src='/javascripts/base64.js')
  script(src='/javascripts/html2canvas.js')
  script(src='/javascripts/enduserinventoryhold.js')
