extends /menu
block content
  title FS Portal | Job Management
  // Datatable
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
  // Theme style
  link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
          .col-md-3.no-padding
            h4 Job Management
          .col-md-9.no-padding(style='text-align:right;')
            .col-md-9.col-sm-6.no-padding
              h5(style='margin-right:10px;') Select Client
            .col-md-3.col-sm-6.no-padding
              select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Toyota
                option(value='AED') Hino
                option(value='AED') Normal
      // Main content
      section.content
        .row
          include enquiry/listblock.pug
          include enquiry/formblock.pug
  // Datatable
  script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
  script(src='/javascripts/enduserenquiry.js')
      
