extends /menu
block content
    title User Portal | ASN Details
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | ASN Details
            // Main content
            section.content
                .row
                    include receipt/receiptdetailsformblock.pug
                .row(style='margin-top:15px;')
                    include receipt/receiptdetailslistblock.pug
    //popup
    include receipt/receiptdetailspopup.pug
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js')
    script(src='/javascripts/tableExport.js')
    script(src='/javascripts/jquery.base64.js')
    script(src='/javascripts/sprintf.js')
    script(src='/javascripts/jspdf.js')
    script(src='/javascripts/base64.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/enduserreceiptdetails.js')
        