extends /menu
block content
  title FS Portal | Receipt
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
          .col-md-3.no-padding
            h4 Receipt
          .col-md-9.no-padding(style='text-align:right;')
            .col-md-9.col-sm-6.no-padding
              h5(style='margin-right:10px;') Select Client
            .col-md-3.col-sm-6.no-padding
              select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Toyota
                option(value='AED') Hino
                option(value='AED') Normal
      // Main content
      section.content
        .row
          .col-lg-12.col-xs-12.col-md-12
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
              thead
                tr
                  th Enquiry No
                  th Total Pallets
                  th Expected Days
                  th Total CBM
                  th WH Status
                  th Status
              tbody
                tr
                  td E10001
                  td 150
                  td 30
                  td 15000
                  td Confirmed
                  td Confirmed
                tr
                  td E10002
                  td 140
                  td 60
                  td 10000
                  td Confirmed
                  td Confirmed
                tr
                  td E10003
                  td 100
                  td 50
                  td 25000
                  td Confirmed
                  td Confirmed
  // Datatable
  script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
  script(src='/javascripts/enduserreceipt.js')
