extends /menu
block content
  title FS Portal | Stock Adjustement
  .wrapper
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
        .col-md-12.no-padding(style='border-bottom: 1px solid #d2d6de;margin-bottom:15px;')
          .col-md-3.no-padding
            h4 Stock Adjustement
          .col-md-9.no-padding(style='text-align:right;')
            .col-md-9.col-sm-6.no-padding
              h5(style='margin-right:10px;') Select Client
            .col-md-3.col-sm-6.no-padding
              select#ddlMake.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Toyota
                option(value='AED') Hino
                option(value='AED') Normal
      // Main content
      section.content
        .row
          include stockadjustment/stockadjustmentheaderblock.pug
        .row(style='margin-top:15px;')
          include stockadjustment/stockadjustmentlistblock.pug
                    
    //popo
    include stockadjustment/stockadjustmentpopup.pug
  // Datatable
  script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js')
  script(src='/javascripts/tableExport.js')
  script(src='/javascripts/jquery.base64.js')
  script(src='/javascripts/sprintf.js')
  script(src='/javascripts/jspdf.js')
  script(src='/javascripts/base64.js')
  script(src='/javascripts/html2canvas.js')
  script(src='/javascripts/enduserstockadjustment.js')
